<!--Popup webpage that displays individual patients' Serotypes-->

<!DOCTYPE html>
<html>
  <head>
    <!--Load Static Files and FusionCharts javascript files for Visualizations-->
    {% load static %}
    <script
      type="text/javascript"
      src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js">
    </script>
    <script
      type="text/javascript"
      src="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.timeseries.js"
    ></script>
  </head>
  <body>
    <div id="chart-1"></div>
    {{ output|safe }}
  </body>
</html>
