{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
{% load static %}
<link rel ="stylesheet" href = "{% static 'styles.css' %}">
<div class="card">
<div class="card-body">
<h4 class="card-title"></h4>

<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

{{ form|crispy }}
<style>
body {
    font-family: "Lato", sans-serif;
}
body {
    background: black url({% static "bg.jpg" %}) no-repeat;
}
</style>
<button type="submit" class="btn btn-primary btn-block">Log in</button>
</form>
</div>

</div>
{% endblock %}
